@font-face {
    font-family: 'Museo Slab';
    src: url('./fonts/museo_slab.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.pointer {
  cursor: pointer !important;
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

body {
  /*background-color: #c8fbff;*/
  background: linear-gradient(#fff, #929292);
  overflow: hidden;
}

.spinner-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #c8fbff;
  z-index: 9;
}

.spinner {
  margin: 100px auto;
  width: 80px;
  height: 100px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #ff6e9e;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  background-color: #9377a3;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  background-color: #f7cb18;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  background-color: #fc3541;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  background-color: #f2e8cd;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

header {
  text-align: center;
  padding: 20px 0;
}

.header {
  font-family: 'Ranga';
  font-size: 180px;
  margin: 0;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: change-color 10s infinite linear;
}


@-webkit-keyframes change-color {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.subheader {
  font-family: 'Open Sans';
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  /*background-color: green;*/
}

section {
  width: 33%;
}

.left {
  /*background-color: red;*/
}

.right {
  /*background-color: blue;*/
}


.effect {
  position: relative;
  height: 400px;
  width: 96.5%;
  background-color: #F5F5F5;
  /*border: 2px solid black;*/
  border-radius: 10px;
  box-shadow: 0px 3px 10px #222;
  margin: 0 auto 3.5% auto;
}

#typed {
  height: 180px;
}

.effect-button {
  border: 1px solid white;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Open Sans';
}

.effect-button:hover {
  color: #222;
  border-color: #222;
  transition-duration: 0.3s;
  background-color: #fff;
}

.effect:hover .effect-cover {
  display: block;
}

.effect-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  text-align: center;
  padding: 20px;
  animation: fadeIn 0.3s;
  border-radius: 10px;
  z-index: 1;
}

.effect-cover h1 {
  font-size: 60px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.typed-example {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 25px;
  padding: 20px;
}

.typed-cursor{
  font-size: 25px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  margin-left: -20px;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.baffle {
  position: absolute;
  font-size: 70px;
  font-family: 'Amiko';
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

#baffle {
  height: 200px;
  background-color: #422FB1;
  color: white;
}

#particles {
  height: 450px;
}

#owlCarousel {
  height: 250px;
  text-align: center;
  position: relative;
  font-size: 30px;
  color: white;
}

.owl-carousel, .owl-stage, .owl-stage-outer, .owl-item, .owl-single {
  height: 100%;
  font-family: 'Oxygen';
  cursor: move;
}

.owl-stage-outer {
  border-radius: 10px;
}

.owl-single p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

#fa {
  height: 200px;
}

#fa > h1 {
  /*line-height: 200px;*/
  position: absolute;
  font-family: 'Museo Slab';
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0,0,0,0.15);
  top: 50%;
  transform: translateY(-50%);
}

#animate > h1 {
  text-align: center;
  font-family: 'Amiko';
  top: 50%;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  font-size: 80px;
  color: #ff9d31;
}

#animate {
  height: 270px;
}

.contact-wrapper {
  position: relative;
  /*background-color: #fff;*/
  height: 100vh;
}

.contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  /*background-color: red;*/
  text-align: center;
}

.contact-container > h1 {
  padding: 20px;
  font-family: 'Source Sans Pro';
  font-size: 50px;
}

.name-email-container input {
  font-family: 'Source Sans Pro';
  width: 60%;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: block;
  margin: 0 auto 20px auto;
  font-size: 20px;
}

textarea {
  width: 60%;
  display: block;
  margin: 0 auto 20px auto;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Source Sans Pro';
  line-height: 1.4;
  font-size: 20px;
}

form button {
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  width: 60%;
  border: 1px solid black;
}

footer {
  font-family: 'Open Sans';
  text-align: center;
}

